.App {
  text-align: center;
  min-height: 100vh;
  font-family: 'Roboto', sans-serif; /* 全局字体 */
  background-color: rgba(0, 0, 0, 0.75); /* 全局背景色 */
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
